.top-row {
    margin: 60px 0 0;
}

.result-container {
    padding: 20px;
}

.call-to-action:before {
    content: '';
    background: url(artwork/arrow-down.png);
    width: 200px;
    height: 210px;
    display: block;
    position: absolute;
    left: -10px;
    top: 0px;
    opacity: 0.2;
}

.jorgito-te-mira-serio {
    background: url(artwork/jorgito.jpg);
    width: 456px;
    height: 280px;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.jorgito-te-mira-serio:after {
    content: '"Belize para Todos me cambió la vida"';
    display: block;
    float: right;
    text-align: right;
    font-size: 36px;
    line-height: 30px;
    color: #999;
    width: 200px;
}

#result-container {
    position: relative;
}

#img-art {
    position: relative;
}

#img-art.default:after,
#img-art.loading:after {
    position: absolute;    
    background-color: rgba(0,0,0,0.8);
    content: 'Generá tu propio certificado escribiendo tu nombre en el formulario que aparece arriba!';
    top: 30px;
    left: 20px;
    color: red;
    padding: 30px;
}

#img-art.loading:after {
    content: 'Procesando...';
}

#share-fb {
    background: url(artwork/facebook.png) no-repeat;
    padding-left: 28px;
    height: 22px;
    display: block;
}
#share-tw {
    background: url(artwork/twitter.png) no-repeat;
    padding-left: 28px;
    height: 22px;
    display: block;
}

@media screen and (max-width: 480px) {
    .hero-unit {
        padding: 10px;
    }
    .hero-unit h1 {
        font-size: 30px;
    }
}
